.navbar-inverse {
  background-color: #003300;
}

.navbar-brand,
.navbar-nav > li > a {
  color: #bbb !important;
  line-height: 50px;
  height: 50px;
  padding-top: 0;
}

.navbar-nav > li > a {
  font-size: 1.1em;
}

.navbar-brand:hover,
.navbar-nav > li > *:hover {
  color: #dfdfdf !important;
}

.navbar {
  border-bottom: 10px #009900 solid;
}

.navbar-inverse .navbar-toggle {
  padding: 6px 8px 5px;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-inverse .navbar-toggle:hover{
    background-color: rgba(200, 200, 200, 0.3);
}
.nav .breadcrumb {
    margin: 0 7px;
}

.btn-primary {
  background-color: #004d00;
  border-color: #009900;
}
.btn-primary:hover {
  background-color: #006600;
}
.btn-primary:focus {
  background-color: #003300;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003300 !important;
}
 .btn-primary:active:focus {
   background-color: #003300;
}

.glyphicon-menu-hamburger {
  color: rgba(200, 200, 200, 1);
}

.spacey_row > * {
  margin: 5px auto;
}

body {
  padding-top: 60px;
}

.bordered_container {
  border: 1px solid #ddd;
  margin: 10px auto;
  padding: 10px 10px;
  border-radius: 10px;
}
