fieldset.PET-frame{
    border: 1px solid rgba(200, 200, 200, 0.2) !important;
    border-radius: 10px;
    border
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    -webkit-box-shadow:  0px 0px 0px 0px #eee;
            box-shadow:  0px 0px 0px 0px #eee;
}



legend.PET-frame {
    font-size: 0.8em !important;
    color: rgba(100, 100, 100, 0.8);
    text-align: left !important;
    margin-left: 10px;
    padding-left: 2px;
    padding-right: 2px;
    width: auto;
    background-color:  rgba(255,255,255, 0.8);
    border-radius: 5px;
}

.row .col-6 {
  display: inline-block;
}



/* get rid of the arrows in numbers field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
